<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Home - Kaplan Shop Admin Control Panel')" />

<body>
<div class="container-fluid">

    <div th:replace="navigation :: menu"></div>
    <div>
        <h1> Kaplan Shop Admin Control Panel</h1>
    </div>

    <div th:replace="fragments :: footer"></div>


</div>
<script type="text/javascript">
    $(document).ready(function (){
        $("#logoutLink").on("click",function (e){
            e.preventDefault();
            document.logoutForm.submit();
        })
    });

</script>

</body>
</html>